<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258386620313-t7k93ai5l4i3lk6kv8lb30fgi2imv47m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258386620313-t7k93ai5l4i3lk6kv8lb30fgi2imv47m</string>
	<key>API_KEY</key>
	<string>AIzaSyA71v87-IlVkZp78aqZOnJDJJiicoVizZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>258386620313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-a19f5</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-a19f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258386620313:ios:37c66eae56af43ca136d08</string>
</dict>
</plist>